*{
    margin: 0;
    padding: 0;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

header{
    display: flex;
    flex-direction: row;
    height: 5.8vw;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 10px 5px 5px #f6f6f6;
    color: #282c3f;  
}

.myntra_home{
    width: 5.5vw;
    height: 3.8vw;
}

.logo{
    margin-left: 3%;
    display: flex;
    justify-content: space-between;
}

.logo h3{
    display: none;
    padding-top: 8%;

}

.logo span{
    display: none;
}

.logo a{
    text-decoration: none;
    color: #282c3f;
}

.nav-bar{
    margin-left: 1%;
    display: flex; 
    align-items: center;
    width: 40%;     
    justify-content: space-between;   
}

.nav-bar a{
    text-decoration: none;
    font-size: 14px;
    letter-spacing: .3px;
    color:  #282c3f;
    font-weight: 700;
    text-transform: uppercase;
}


.nav-bar #women{
    padding: 26px 0px;
    border-bottom: 4px solid #ffffff;
}

.nav-bar #men{
    padding: 26px 0px;
    border-bottom: 4px solid #ffffff;
}

.nav-bar #studio{
    padding: 26px 0px;
    border-bottom: 4px solid #ffffff;
}

.nav-bar #kids{
    padding: 26px 0px;
    border-bottom: 4px solid #ffffff;
}

.nav-bar #homel{
    padding: 26px 0px;
    border-bottom: 4px solid #ffffff;
}

.nav-bar #beauty{
    padding: 26px 0px;
    border-bottom: 4px solid #ffffff;
}


.nav-bar #women:hover{
    border-bottom: 4px solid rgb(231, 35, 67);
}

.nav-bar #men:hover{
    border-bottom: 4px solid rgb(255, 0, 43);
}

.nav-bar #studio:hover{
    border-bottom: 4px solid rgb(231, 35, 67);
}

.nav-bar #kids:hover{
    border-bottom: 4px solid rgb(255, 102, 0);
}

.nav-bar #homel:hover{
    border-bottom: 4px solid rgb(229, 255, 0);
}

.nav-bar #beauty:hover{
    border-bottom: 4px solid rgb(43, 255, 0);
}


.search_bar{ 
    padding-left: 8vw;   
    display: flex;
    align-items: center;
    height: 40px;
    width: 30%;
    box-sizing: content-box;
}

.search_icon{
    background-color: #f5f5f6;
    box-sizing: content-box;
    height: 1.5vw;
    padding: 0.7vw;
}

.ip{
    color: #696e79;;
    background-color: #f5f5f6;
    border-radius: 2px;
    border-style: none;
    height: 40px;
    flex-grow: 1;
}

.action_bar{
    padding: 0px 0px 0px 10px;
    margin-right: 3%;
    display: flex;
    width: 16%;
    justify-content: space-evenly;    

}

.inner-action-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 1vh;
    text-decoration: none;
    color: black;

}

#btn{
    background-color: #e2d9cd;
    border: none;
    height: 36px;
}

#sup-nav{
    font-size: 10px;
    color: rgb(226, 40, 71);
}

/*Main Section*/


.crousel{
    width: 100%;
    margin-top: 2%;
}

.slider{
    background-color: #ffffff;
    width: 80%;
    height: 100%;
    position: absolute;
    left: -80%;
    transition: .4s;
    z-index:9999;
}

.slider li{
    list-style: none;
    font-size: 14px;
    letter-spacing: .3px;
    color:  #282c3f;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 24px;
}

.slider a{
    text-decoration: none;
    font-size: 14px;
    letter-spacing: .3px;
    color:  #282c3f;
    font-weight: 700;
    text-transform: uppercase;
}

.shadow{
    height: 100%;
    width: 100%;
    background-color: #8c8fa0;
    opacity: 0.2;
    position: absolute;
    left: -100%;
}

.crousel .commondiv{
    display: flex;
    
}

.couponcards{
    display: flex;
}

.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
}

.victoryoffers{
    display: flex;
    flex-wrap: wrap;
}

.victoryoffers img{
    height: 295px;
    width: 224px;
}

.categories{
    display: flex;
    flex-wrap: wrap;
}

.categories img{
    height: 294px;
    width: 224px;
}

/*Footer-section*/

.footer{
    position: relative;
    z-index: 5;
    padding: 30px 0px 40px 0px;
    background-color: #FAFBFC;
    color: #696b79;
    padding-left: 10%;
}

.footer_container{
    display: flex;
    flex-wrap: wrap;
    
}


.footer_column{
    float: left;
    width: 155px;
    vertical-align: top;
    padding-right: 20px;
}

.footer_column a{
    text-decoration: none;
    
}

.footer_column p a{
    text-decoration: none;
    color: #282c3f;
    font-weight: 700;
    
    font-size: small;
}

.customer_policies{
    float: left;
    width: 155px;
    vertical-align: top;
    padding-right: 20px;
}

.customer_policies a{
    text-decoration: none;
}

.customer_policies p a{
    text-decoration: none;
    color: #282c3f;
    font-weight: 700;
    font-size: small;
}

.footer_experience{
    padding-right  : 53px;
}
.footer_experience p a{
    font-weight: 700;
    text-decoration: none;
    color: #282c3f;
    font-size: small ;
}

.footer_experience p{
    padding-bottom: 25px;
}

#pk{
    padding-top: 10px;
}

.original{
    display: block;
}

.gaurantee{
    display: flex;
    padding-bottom: 30px;
}

.return{
    display: flex;
}

.popular_searches div{
    color:#282c3f;
    font-weight: 700;
    font-size: 2.5vh;
}

.popular_searches{
    margin-top: 2%;
    
}

.copyright{
    padding-top: 4%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1%;
}

@media (max-width : 600px) {
    header{
        height: 14vw;
    }
    .nav-bar{
        display: none;
    }
    .search_bar input{
        display: none;
    }
    .search_bar span{
        height: 6vw;
        padding: 0.2vw;
        background-color: #fff;
    }
    .search_bar{
        width: 0%;
        padding-left: 40vw;
    }
    .logo{
        margin:0%;
    }
    .logo span{
        display: none;
    }
    .action_bar h6{
        display: none;
    }
    .logo img{
        display: none;
    }
    .logo span{
        padding-top: 2%;
        padding-right: 10%;
        display: flex;
    }
    .logo h3{
        padding: 0%;
        display: flex;
    }
    .inner-action-div #p{
        display: none;
    }
    .action_bar{
        margin-right: 0%;

    }
    .victory img{
        width: 100%;
    }
    .victoryoffers img{
        height: 40vw;
        width: 30vw;
    }
    section{
        padding: 2vh;
    }
    .categories{
        padding-top: 2%;
    }
    .categories img{
        height: 40vw;
        width: 30vw;
    }

}
