*{
    margin: 0;
    padding: 0;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

header{
    display: flex;
    flex-direction: row;
    height: 5.8vw;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 10px 5px 5px #f6f6f6;
    color: #282c3f;  
}

.myntra_home{
    width: 5.5vw;
    height: 3.8vw;
}

.logo{
    margin-left: 3%;
    display: flex;
    justify-content: space-between;
}

.logo h3{
    display: none;
    padding-top: 8%;

}

.logo span{
    display: none;
}

.logo a{
    text-decoration: none;
    color: #282c3f;
}

.nav-bar{
    margin-left: 1%;
    display: flex; 
    align-items: center;
    width: 40%;     
    justify-content: space-between;  
}

.nav-bar a{
    text-decoration: none;
    font-size: 14px;
    letter-spacing: .3px;
    color:  #282c3f;
    font-weight: 700;
    text-transform: uppercase;
}

.nav-bar #women{
    padding: 26px 0px;
    border-bottom: 4px solid #ffffff;
}

.nav-bar #men{
    padding: 26px 0px;
    border-bottom: 4px solid #ffffff;
}

.nav-bar #studio{
    padding: 26px 0px;
    border-bottom: 4px solid #ffffff;
}

.nav-bar #kids{
    padding: 26px 0px;
    border-bottom: 4px solid #ffffff;
}

.nav-bar #homel{
    padding: 26px 0px;
    border-bottom: 4px solid #ffffff;
}

.nav-bar #beauty{
    padding: 26px 0px;
    border-bottom: 4px solid #ffffff;
}


.nav-bar #women:hover{
    border-bottom: 4px solid rgb(231, 35, 67);
}

.nav-bar #men:hover{
    border-bottom: 4px solid rgb(255, 0, 43);
}

.nav-bar #studio:hover{
    border-bottom: 4px solid rgb(231, 35, 67);
}

.nav-bar #kids:hover{
    border-bottom: 4px solid rgb(255, 102, 0);
}

.nav-bar #homel:hover{
    border-bottom: 4px solid rgb(229, 255, 0);
}

.nav-bar #beauty:hover{
    border-bottom: 4px solid rgb(43, 255, 0);
}


.search_bar{ 
    padding-left: 22px;   
    display: flex;
    align-items: center;
    height: 40px;
    width: 30%;
    box-sizing: content-box;
}

.search_icon{
    background-color: #f5f5f6;
    box-sizing: content-box;
    height: 1.5vw;
    padding: 0.7vw;
}

.ip{
    color: #696e79;;
    background-color: #f5f5f6;
    border-radius: 2px;
    border-style: none;
    height: 40px;
    flex-grow: 1;
}

.action_bar{
    padding: 0px 0px 0px 10px;
    margin-right: 3%;
    display: flex;
    width: 15%;
    justify-content: space-evenly;    

}

.inner-action-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 15px;
    text-decoration: none;
    color: black;
}

#btn{
    background-color: #e2d9cd;
    border: none;
    height: 36px;
}

#sup-nav{
    font-size: 10px;
    color: rgb(226, 40, 71);
}

/*Main Section*/

.slider{
    background-color: #ffffff;
    width: 80%;
    height: 100%;
    position: absolute;
    left: -80%;
    transition: .4s;
    z-index: 9999;
}

.slider li{
    list-style: none;
    font-size: 14px;
    letter-spacing: .3px;
    color:  #282c3f;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 24px;
}

.slider a{
    text-decoration: none;
    font-size: 14px;
    letter-spacing: .3px;
    color:  #282c3f;
    font-weight: 700;
    text-transform: uppercase;
}

.shadow{
    height: 100%;
    width: 100%;
    background-color: #8c8fa0;
    opacity: 0.2;
    position: absolute;
    left: -100%;
}

/*Footer-section*/

.footer{
    position: relative;
    z-index: 5;
    padding: 30px 0px 40px 0px;
    background-color: #FAFBFC;
    color: #696b79;
    padding-left: 10%;
    padding-right: 10%;
}

.footer_container{
    display: flex;
    flex-wrap: wrap;
    
}


.footer_column{
    float: left;
    width: 155px;
    vertical-align: top;
    padding-right: 20px;
}

.footer_column a{
    text-decoration: none;
    
}

.footer_column p a{
    text-decoration: none;
    color: #282c3f;
    font-weight: 700;
    
    font-size: small;
}

.customer_policies{
    float: left;
    width: 155px;
    vertical-align: top;
    padding-right: 20px;
}

.customer_policies a{
    text-decoration: none;
}

.customer_policies p a{
    text-decoration: none;
    color: #282c3f;
    font-weight: 700;
    font-size: small;
}

.footer_experience{
    padding-right  : 53px;
}
.footer_experience p a{
    font-weight: 700;
    text-decoration: none;
    color: #282c3f;
    font-size: small ;
}

.footer_experience p{
    padding-bottom: 25px;
}

#pk{
    padding-top: 10px;
}

.original{
    display: block;
}

.gaurantee{
    display: flex;
    padding-bottom: 30px;
}

.return{
    display: flex;
}

.popular_searches div{
    color:#282c3f;
    font-weight: 700;
    font-size: 2.5vh;
}

.popular_searches{
    margin-top: 2%;
    
}

.copyright{
    padding-top: 4%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1%;
}

.items-container {
    width: 76%;
    margin: 2vw 12%;
    display: flex;
    flex-wrap: wrap;
}

.item-container {
    width: 17vw;
    margin: 4vw;
}

.item-image {
    width: 100%;
}
.rating {
    font-size: 1vw;
    font-weight: 700;
}
.company-name {
    margin-top: 2vw;
    font-size: 2vw;
    font-weight: 700;
    line-height: 1;
    color: #282c3f;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item-name {
    color: #535766;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    display: block;
}
.price {
    margin-top: 10px;
    font-size: 14px;
    line-height: 15px;
    color: #282c3f;
    white-space: nowrap;
}
.current-price {
    font-size: 14px;
    font-weight: 700;
    color: #282c3f;
}
.original-price {
    text-decoration: line-through;
    color: #7e818c;
    font-weight: 400;
    margin-left: 5px;
    font-size: 12px;
}
.discount {
    color: #ff905a;
    font-weight: 400;
    font-size: 12px;
    margin-left: 5px;
}
.btn-add-bag {
    margin-top: 8px;
    font-size: 18px;
    width: 100%;
    background-color: lightgreen;
    border: none;
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
}
.bag-item-count {
    background-color: #f16565;
    white-space: nowrap;
    text-align: center;
    line-height: 18px;
    padding: 0 6px;
    height: 18px;
    position: relative;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    left: 13px;
    top: -44px;
    font-weight: 700;
    cursor: pointer;
    visibility: hidden;
}

@media (max-width : 600px) {
    header{
        height: 12vw;
    }
    .nav-bar{
        display: none;
    }
    .search_bar input{
        display: none;
    }
    .search_bar span{
        height: 6vw;
        padding: 0.2vw;
        background-color: #fff;
    }
    .search_bar{
        width: 0%;
        padding-left: 39vw;
    }
    .logo{
        margin:0%;
    }
    .logo span{
        display: none;
    }
    .action_bar h6{
        display: none;
    }
    .logo img{
        display: none;
    }
    .logo span{
        padding-top: 2%;
        padding-right: 10%;
        display: flex;
    }
    .logo h3{
        padding: 0%;
        display: flex;
    }
    .inner-action-div #p{
        display: none;
    }
    .action_bar{
        margin-right: 0%;
    }
    .item-name{
        font-size: 1vh;
    }
    .price{
        margin-top: 1vw;
        font-size: 1vh;
    }
    .current-price{
        font-size: 2vw;
    }
    .original-price{
        margin-left: 0vh;
        font-size: 1vh;
    }
    .discount{
        margin-left: 0vh;
        font-size: 1vh;
    }
    .btn-add-bag{
        padding: 0vw 0vw;
        font-size: 2vw;
        margin-top: 0%;
    }
    .popular_searches{
        font-size: 1rem;
    }
    .popular_searches div{
        font-size: 1rem;
    }
    .copyright p{
        font-size: 0.5rem;
    }
    .inner-action-div{
        padding-right: 2vw;
        padding-top: 2vh;
        
    }
    .inner-action-div img{
        height: 5vw;
        width: 5vw;
    }
    .bag-item-count{
        top: -32px;
        font-size: 1.8vw;
    }
    

}
